@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-xs-6">
        <div class="input-group">
            <input id="inputText" class="form-control" type="text" value="" placeholder="Type something" />
            <span class="input-group-btn">
                <button class="btn btn-primary">Add</button>
            </span>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-xs-6">
        <label class="control-label">List of Things Added</label>
        <table class="table table-striped table-responsive">
            <thead>
            <th>Id</th>
            <th>Values</th>
            <th>Action</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>